/* Header */
#topbar .top-menu li.separated a:after {
    content: "";
    display: inline-block;
    position: relative;
    top: 3px;
    width: 1px;
    height: 15px;
    margin: 0 0px 0 15px;
    background-color: rgba(0, 0, 0, 0.1);
}
#slider {
	top: -120px;
	margin-bottom: -80px;
}

#header.dark {
	#svglogo {
		fill: #fff;
	}
}

@media (max-width: 991px) {
	#slider {
		top: 0 !important;
		margin-bottom: 30px !important;
	}
	#header.dark {
		#svglogo {
			fill: inherit;
			max-width: 200px
		}
	}
	#header #logo>a {
		height: 80px;
	}
	.heading {
		margin-bottom: 70px;
	}
}
/* Footer */

/* Accueil */
#slider .slide .slide-captions {
	h1 {
		max-width: 800px;
		padding-top: 20%;
	}
	p {
		padding-top: 2%;
		margin-bottom: 20px;
	}
	#ctas {
		padding-bottom: 7%;
	}
}
#description {
	margin-bottom: 20px;
	&:before {
		content: '';
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 600px;
	    height: 2000px;
	    background: #f6f9fc;
	    transform: skew(0,-12deg);
	}
	p {
		font-size: 1.35714286em;
    	line-height: 1.68421053em;
    	font-weight: 300;
	}
	.col-md-6 {
		padding: 5px;
		.info {
			border-radius: 4px;
		    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
		    padding: 35px;
		    background-image: url('/img/logo-bg-t.png');
		    background-size: 35%;
		    background-repeat: no-repeat;
		    background-position: bottom left;
		    position: relative;
		    i.fa-arrow-right {
		    	-webkit-transition: transform 0.7s;
		    	-moz-transition: transform 0.7s;
		    	-ms-transition: transform 0.7s;
		    	-o-transition: transform 0.7s;
		    	transition: transform 0.7s;
		    	margin-left: 10px;
		    }
		    img {
				position: absolute;
    			right: 0;
    			top: 0;
		    }
		    &::before {
		    	position: absolute;
			    top: 0;
			    left: 0;
			    background: rgba(255, 255, 255, 0.8);
			    content: " ";
			    width: 100%;
			    height: 100%;
			    display: block;
			    -webkit-transition: 0.7s;
			    -moz-transition: 0.7s;
			    -ms-transition: 0.7s;
			    -o-transition: 0.7s;
			    transition: 0.7s;
		    }
		    p, h4 {
		    	position: relative;
		    	z-index: 500;
		    }
		    p {
		    	min-height: 56px;
		    }
		}
		&:hover {
			.info {
				// background-image: url('/img/logo-bg-w.png');
				i {
					transform: translateX(20px);
				}
				&::before {
					background: #e1f5e9;
				}
			}
		}
	}
}
.heading h2 {
	text-transform: uppercase;
}
section {
	padding: 50px 0;
}
