{{ define "main" }}
<main class="main" id="homepage">
	<!-- Inspiro Slider -->
  <div id="slider" class="inspiro-slider slider-fullscreen arrows-large arrows-creative dots-creative" data-height-xs="360">
      <!-- Slide 1 -->
      <div class="slide background-overlay-dark" data-parallax-image="/img/slider-1.jpg">
          <div class="container">
              <div class="slide-captions text-light">
                  <!-- Captions -->
                  <h1>{{ .Params.titre }}</h1>
                  <p data-animation="fadeInUp" data-animation-delay="300" class=""><a href="#" class="business"><span class="business">50 $ de rabais sur la collection de lunettes XYZ</span></a>
                  </p>
                  <div id="ctas"> 
                      <button type="button" class="btn btn-rounded btn-reveal btn-reveal-left"><span>Nos promotions</span><i class="fa fa-arrow-right"></i></button>
                      <button type="button" class="btn btn-rounded btn-reveal btn-reveal-left btn-light"><span class="btn-label">Prendre rendez-vous</span><i class="fa fa-arrow-right"></i></button>
                  </div>
                  <!-- end: Captions -->
              </div>
          </div>
      </div>
      <!-- end: Slide 1 -->
  </div>
  <!--end: Inspiro Slider -->
  <div class="container" id="description">
  	<div class="row">
  		<div class="col-md-12">
  			<p>Depuis plus de 25 ans, l’équipe de la clinique Duquette & Turgeon de Laval est à votre service. Pour mieux vous servir, elle vient d’emménager dans de nouveaux locaux plus modernes, spacieux et aérés, qu’ils ont rebaptisés L’Aire Visuelle.</p>
				<p>L’aire visuelle, c’est une équipe d’expérience qui sait vous diriger vers ce qui est de mieux dans l’industrie. Avec un large inventaire de montures et de lunettes, vous saurez trouver celle qui réponds à vos besoins.</p>
  		</div>
      <!-- <div class="col-md-6" data-animation="fadeInUp" data-animation-delay="500">
      	<div class="info">
      		<h4><a href="#">Prenez rendez-vous en ligne<i class="fa fa-arrow-right"></i></a></h4>
          <p><a href="#">Choisissez la date et l’heure</a> qui vous convient dans le confort de votre salon.</p>
          <img src="/img/logo-bg-w.png" alt="Aire visuelle">
      	</div>
      </div>
      <div class="col-md-6" data-animation="fadeInUp" data-animation-delay="1100">
      	<div class="info">
      		<h4><a href="#">Grande sélection<i class="fa fa-arrow-right"></i></a></h4>
          <p>Plusieurs choix de lentilles et de montures à venir essayer en magasin. Regardez notre <a href="#">catalogue en ligne</a> pour un aperçu!</p>
          <img src="/img/logo-bg-w.png" alt="Aire visuelle">
      	</div>
      </div> -->
    </div>
  </div>
  <section id="page-content">
  	 <!-- Portfolio -->
            <div id="portfolio" class="grid-layout portfolio-3-columns">


                <!-- portfolio item -->
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="/img/quart/opticien-2.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a href="portfolio-page-grid-gallery.html">
                                <h3>Let's Go Outside</h3>
                                <span>Illustrations / Graphics</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end: portfolio item -->

                <!-- portfolio item -->
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="/img/quart/opticien-1.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a href="portfolio-page-grid-gallery.html">
                                <h3>Let's Go Outside</h3>
                                <span>Illustrations / Graphics</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end: portfolio item -->

                <!-- portfolio item -->
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="/img/quart/optometriste-1.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a href="portfolio-page-grid-gallery.html">
                                <h3>Let's Go Outside</h3>
                                <span>Illustrations / Graphics</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end: portfolio item -->

                <!-- portfolio item -->
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img src="/img/quart/optometriste-2.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a href="portfolio-page-grid-gallery.html">
                                <h3>Let's Go Outside</h3>
                                <span>Illustrations / Graphics</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end: portfolio item -->
                
                
            </div>
            <!-- end: Portfolio -->
  </section>
  <!-- PORTFOLIO -->
  <section class="p-b-0">
      <div class="container">
          <div class="heading text-left">
              <h2>Nos designers les plus populaires</h2>
              <span class="lead">Avec plus de 20 marques différentes offertes, l’Aire Visuelle vous offre une grande variété de lunettes et de monture ! Voici quelques unes de nos marques les plus populaires: </span> 
          </div>
      </div>
      <div class="portfolio">
          <!-- Portfolio Items -->
          <div id="portfolio" class="grid-layout portfolio-4-columns" data-margin="0">
							{{ range .Params.designers}}
              <!-- portfolio item -->
              <div class="portfolio-item img-zoom pf-illustrations pf-media hover-3d pf-icons pf-Media">
                  <div class="portfolio-item-wrap">
                      <div class="portfolio-image">
                          <a href="#"><img src="/img/quart/{{.}}-airevisuelle.jpg" alt=""></a>
                      </div>
                      <div class="portfolio-description">
                          <a href="portfolio-page-grid-gallery.html">
                              <h3>Let's Go Outside</h3>
                              <span>Illustrations / Graphics</span> </a>
                      </div>
                  </div>
              </div>
              <!-- end: portfolio item -->
              {{ end }}
          </div>
          <!-- end: Portfolio Items -->

      </div>
  </section>
  <!-- end: PORTFOLIO -->
  <!-- Testimonial Carousel -->
        <section>
            <div class="container">
                
                 <!-- Testimonials -->
                <div class="carousel arrows-visibile testimonial testimonial-single testimonial-blockquote" data-items="1" data-autoplay="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-loop="true">

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <p>Polo is by far the most amazing template out there! I literally could not be happier that I chose to buy this template!</p>
                        <span>Alan Monre</span>
                        <span>CEO, Square Software</span>
                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <p>Polo is by far the most amazing template out there! I literally could not be happier that I chose to buy this template!</p>
                        <span>Alan Monre</span>
                        <span>CEO, Square Software</span>
                    </div>
                    <!-- end: Testimonials item-->

                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>
                        <span>Alan Monre</span>
                        <span>CEO, Square Software</span>
                    </div>
                    <!-- end: Testimonials item-->

                </div>
                <!-- end: Testimonials -->     
                
            </div>
        </section>
        <!-- end: Testimonial Carousel -->
        
</main>
{{ end }}