{{ define "main" }}
<main class="main" id="homepage">
	<!-- Inspiro Slider -->
  <div id="slider" class="inspiro-slider slider-fullscreen arrows-large arrows-creative dots-creative" data-height-xs="360">
      <!-- Slide 1 -->
      <div class="slide background-overlay-dark" data-parallax-image="/img/slider-1.jpg">
          <div class="container">
              <div class="slide-captions text-light">
                  <!-- Captions -->
                  <h1>{{ .Params.titre }}</h1>
                  <p data-animation="fadeInUp" data-animation-delay="300" class=""><a href="/promotions" class="business"><span class="business">50% sur les montures sélectionnées à l’achat d’une paire de verres</span></a>
                  </p>
                  <div id="ctas"> 
                      <a class="btn btn-rounded btn-reveal btn-reveal-left" href="/promotions"><span>Nos promotions</span><i class="fa fa-arrow-right"></i></a>
                      <a class="btn btn-rounded btn-reveal btn-reveal-left btn-light" href="/rendez-vous"><span class="btn-label">Prendre rendez-vous</span><i class="fa fa-arrow-right"></i></a>
                  </div>
                  <!-- end: Captions -->
              </div>
          </div>
      </div>
      <!-- end: Slide 1 -->
  </div>
  <!--end: Inspiro Slider -->
  <div class="container" id="description">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="heading text-left">
  				<h2>L'aire visuelle</h2>
  				<hr>
  			</div>
  			<p>Depuis plus de 25 ans, l’équipe de la clinique Duquette & Turgeon de Laval est à votre service. Pour mieux vous servir, elle vient d’emménager dans de nouveaux locaux plus modernes, spacieux et aérés, qu’ils ont rebaptisés L’Aire Visuelle.</p>
				<p>L’aire visuelle, c’est une équipe d’expérience qui sait vous diriger vers ce qui est de mieux dans l’industrie. Avec un large inventaire de montures et de lunettes, vous saurez trouver celle qui réponds à vos besoins.</p>
  		</div>
      <!-- <div class="col-md-6" data-animation="fadeInUp" data-animation-delay="500">
      	<div class="info">
      		<h4><a href="#">Prenez rendez-vous en ligne<i class="fa fa-arrow-right"></i></a></h4>
          <p><a href="#">Choisissez la date et l’heure</a> qui vous convient dans le confort de votre salon.</p>
          <img src="/img/logo-bg-w.png" alt="Aire visuelle">
      	</div>
      </div>
      <div class="col-md-6" data-animation="fadeInUp" data-animation-delay="1100">
      	<div class="info">
      		<h4><a href="#">Grande sélection<i class="fa fa-arrow-right"></i></a></h4>
          <p>Plusieurs choix de lentilles et de montures à venir essayer en magasin. Regardez notre <a href="#">catalogue en ligne</a> pour un aperçu!</p>
          <img src="/img/logo-bg-w.png" alt="Aire visuelle">
      	</div>
      </div> -->
    </div>
  </div>
  <section id="actions">
  		<div class="container">
  	 <!-- Portfolio -->
            <div id="portfolio" class="grid-layout portfolio-3-columns">


                <!-- portfolio item -->
                <div class="portfolio-item haut img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="/rendez-vous"><img src="/img/quart/opticien-2.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a href="/rendez-vous">
                                <h3>PRENEZ RENDEZ-VOUS EN lIGNE</h3>
                                <span>Choisissez la date et l’heure qui vous convient dans le confort de votre salon</span>
                                <a class="btn btn-rounded" style="margin-top: 20px;" href="/rendez-vous"><span>Prendre rendez-vous</span></a>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end: portfolio item -->

                <!-- portfolio item -->
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="/contactez-nous"><img src="/img/quart/opticien-1.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a href="/contactez-nous">
                                <h3>VENEZ NOUS VOIR EN MAGASIN</h3>
                                <span>À laval sur le boulevard Dagenais, près de la 19</span>
                                <a class="btn btn-rounded" style="margin-top: 20px;" href="/contactez-nous"><span>Nos coordonnées</span></a>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end: portfolio item -->

                <!-- portfolio item -->
                <div class="portfolio-item haut img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="/catalogue"><img src="/img/quart/optometriste-1.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a href="/catalogue">
                                <h3>DE NOMBREUX CHOIX</h3>
                                <span>Plusieurs choix de lentilles et de montures à venir essayer en magasin. Regardez notre catalogue en ligne pour un aperçu!</span>
                                <a class="btn btn-rounded" style="margin-top: 20px;" href="/catalogue"><span>Voir le catalogue</span></a>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end: portfolio item -->

                <!-- portfolio item -->
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="/promotions"><img src="/img/quart/optometriste-2.jpg" alt=""></a>
                        </div>
                        <div class="portfolio-description">
                            <a href="/promotions">
                                <h3>PROMOTIONS DU MOIS</h3>
                                <span>50 $ de rabais sur la collection de lunettes XYZ</span>
                                <a class="btn btn-rounded" style="margin-top: 20px;" href="/promotions"><span>Voir la promotion</span></a>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end: portfolio item -->
                
                
            </div>
            <!-- end: Portfolio -->
      </div>
  </section>
  <!-- PORTFOLIO -->
  <section class="p-b-40">
      <div class="container">
          <div class="heading text-left">
              <h2>Nos designers les plus populaires</h2>
              <hr>
          </div>
          <p style="margin-bottom: 80px; font-size: 1.35714286em; line-height: 1.68421053em; font-weight: 300;">Avec plusieurs marques différentes offertes, l’Aire Visuelle vous offre une grande variété de lunettes et de monture ! Voici quelques unes de nos marques les plus populaires: </p>
          <div class="portfolio">
		          <!-- Portfolio Items -->
		          <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="0">
									{{ range .Params.designers}}
		              <!-- portfolio item -->
		              <div class="portfolio-item img-zoom pf-illustrations pf-media hover-3d pf-icons pf-Media">
		                  <div class="portfolio-item-wrap">
		                      <div class="portfolio-image">
		                          <a href="{{.url}}" target="_blank"><img src="/img/quart/{{.id}}-airevisuelle.jpg" alt=""></a>
		                      </div>
		                      <div class="portfolio-description">
		                          <a href="{{.url}}" target="_blank">
		                              <h3>Voir les produits</h3>
		                              <span>{{.nom}}</span> </a>
		                      </div>
		                  </div>
		              </div>
		              <!-- end: portfolio item -->
		              {{ end }}
                  <!-- portfolio item -->
                  <div class="portfolio-item img-zoom pf-illustrations pf-media hover-3d pf-icons pf-Media">
                      <div class="portfolio-item-wrap">
                          <div class="portfolio-image">
                              <a href='{{ i18n "visionavenue" }}' target="_blank"><img src="/img/quart/vision-avenue.png" alt="Vision Avenue"></a>
                          </div>
                          <div class="portfolio-description">
                              <a href='{{ i18n "visionavenue" }}' target="_blank">
                                  <h3>Achetez en ligne chez Vision Avenue</h3>
                              </a>
                          </div>
                      </div>
                  </div>
                  <!-- end: portfolio item -->
		          </div>
		          <!-- end: Portfolio Items -->

		      </div>
      </div>
      
  </section>
  {{ partial "site/promocta.html" . }}
  <!-- end: PORTFOLIO -->
  <!-- Testimonial Carousel -->
        <!-- end: Testimonial Carousel -->
        
</main>
{{ end }}