<!DOCTYPE html>
<html lang="{{$.Lang}}">
	{{ $.Scratch.Add "homePage" ("/" | absLangURL) }}
	{{ $.Scratch.Add "articlesPage" ("articles/" | absLangURL) }}
	{{ $.Scratch.Add "promotionsPage" ("promotions/" | absLangURL) }}
	{{ $.Scratch.Add "servicesPage" ("services/" | absLangURL) }}
	{{ if eq .Lang "fr" }}
	{{ $.Scratch.Add "contactPage" ("nous-rejoindre/" | absLangURL) }}
	{{ $.Scratch.Add "aboutPage" ("a-propos/" | absLangURL) }}
	{{ $.Scratch.Add "bookingPage" ("rendez-vous/" | absLangURL) }}
	{{ $.Scratch.Add "bookingOptiPage" ("rendez-vous-opticien/" | absLangURL) }}
	{{ $.Scratch.Add "bookingOptoPage" ("rendez-vous-optometriste/" | absLangURL) }}
	{{ $.Scratch.Add "catalogPage" ("catalogue/" | absLangURL) }}
	{{ $.Scratch.Add "deconfinementPage" ("deconfinement/" | absLangURL) }}
	{{ else if eq .Lang "en" }}
	{{ $.Scratch.Add "contactPage" ("contact-us/" | absLangURL) }}
	{{ $.Scratch.Add "aboutPage" ("about/" | absLangURL) }}
	{{ $.Scratch.Add "bookingPage" ("appointment/" | absLangURL) }}
	{{ $.Scratch.Add "bookingOptiPage" ("appointment-optician/" | absLangURL) }}
	{{ $.Scratch.Add "bookingOptoPage" ("appointment-optometrist/" | absLangURL) }}
	{{ $.Scratch.Add "catalogPage" ("catalog/" | absLangURL) }}
	{{ $.Scratch.Add "deconfinementPage" ("deconfinement/" | absLangURL) }}
	{{ end }}
	{{- partial "site-head.html" . -}}
	<body class="">
		{{ `<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->` | safeHTML }}
		{{- partial "header/google-tag-manager.html" . -}}
		<div id="wrapper">
	  	{{- partial "site-header.html" . -}}
			<div id="all-content-wrapper" class="all-content-wrapper">
				{{block "main" . }}
				{{end}}
			</div>
			{{- partial "site-footer.html" . -}}
		</div>
		<!-- eof #wrapper -->
		<!-- Go to top button -->
    <a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a><!--Plugins-->
		{{- partial "footer/site-scripts.html" . -}}
	</body>
</html>
