{{ define "main" }}
<main class="main" id="{{ .Type }}-list">
	<!-- PORTFOLIO -->
  <section class="p-b-40">
      <div class="container">
          <div class="heading text-left">
              <h1>{{.Params.titre}}</h1>
              <hr>
          </div>
          <p style="margin-bottom: 80px;">Avec plusieurs marques différentes offertes, l’Aire Visuelle vous offre une grande variété de lunettes et de monture ! Voici quelques unes de nos marques les plus populaires: </p>
          <div class="portfolio row no-gutters row-eq-height">
          	 	<div class="col-md-9 col-sm-12 col-eq-height">
          	 			<!-- Portfolio Items -->
				          <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="0">
											{{ range first 4 .Params.designers}}
				              		{{- partial "site/portfolio-item.html" . -}}
				              {{ end }}
				              <!-- portfolio item -->
				              <div class="portfolio-item img-zoom pf-illustrations pf-media hover-3d pf-icons pf-Media">
				                  <div class="portfolio-item-wrap">
				                      <div class="portfolio-image">
				                          <a href="/rendez-vous" target="_blank"><img src="/img/quart/airevisuelle-vert.jpg" alt="Aire Visuelle"></a>
				                      </div>
				                      <div class="portfolio-description">
				                          <a href="/rendez-vous" target="_blank">
				                              <h3>Sélection en magasin</h3>
				                              <span>Aire Visuelle</span> </a>
				                      </div>
				                  </div>
				              </div>
				              <!-- end: portfolio item -->
				              {{ range after 4 .Params.designers}}
				              		{{- partial "site/portfolio-item.html" . -}}
				              {{ end }}
				          </div>
				          <!-- end: Portfolio Items -->
          	 	</div>
							<div class="col-md-3 col-sm-12 col-eq-height">
                  <!--call-to-action colored background -->
                  <div class="call-to-action call-to-action-dark">
                      <h3>Vous ne trouvez pas le <span>produit</span> que vous cherchez?</h3>
                      <p>Prenez rendez-vous avec un expert !</p>
                      <a class="btn btn-outline btn-light" href="/rendez-vous-opticien">Rendez-vous</a> </div>

                  <!--END: call-to-action colored background -->
              </div>
		      </div>
      </div>
      
  </section>
  {{ partial "site/promocta.html" . }}
  <!-- end: PORTFOLIO -->

</main>
{{ end }}