{{ define "main" }}
<main class="main" id="{{ .Type }}-list">

        <!-- Page title -->
        <section id="page-title" class="background-image background-overlay-dark" style="background-image:url({{.Params.image}});">
            <div class="container">

                <div class="page-title">
                    <div data-animation="fadeIn" class="text-light">
                        <h1 data-animation="fadeInUp" data-animation-delay="1000">{{.Params.titre}}</h1></div>
                </div>
            </div>
        </section>
        <!-- end: Page title -->	


     <!-- Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- post content -->
                    <div class="content col-md-9" id="blog-listing">
                        <!-- Page title -->


                        <!-- Blog -->
                        <div id="blog" class="post-thumbnails">
                            {{ range where .Site.RegularPages "Type" "articles"}}
                            <!-- Post item-->
                            <div class="post-item">
                                <div class="post-item-wrap">
                                    {{ $link := .Permalink }}
                                    {{ with .Params.image}}
                                    <div class="post-image">
                                        <a href="{{$link}}">
                                            <img alt="" src="{{.}}">
                                        </a>
                                        <!-- <span class="post-meta-category"><a href="">Lifestyle</a></span> -->
                                    </div>
                                    {{ end }}
                                    <div class="post-item-description">
                                        <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
                                        <span class="post-meta-date"><i class="fa fa-calendar-o"></i></span>

                                        <p>{{.Summary}}</p>

                                        <a href="{{.Permalink}}" class="item-link">{{ i18n "readmore" }} <i class="fa fa-arrow-right"></i></a>

                                    </div>
                                </div>
                            </div>
                            <!-- end: Post item-->

                            <hr>
                            {{ end }}                                                                         

                        </div>
                        <!-- end: Blog -->
                        
                        <!-- Pagination -->
                        <!-- <div class="pagination pagination-simple">
                            <ul>
                                <li>
                                    <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a>
                                </li>
                                <li><a href="#">1</a> </li>
                                <li><a href="#">2</a> </li>
                                <li class="active"><a href="#">3</a> </li>
                                <li><a href="#">4</a> </li>
                                <li><a href="#">5</a> </li>
                                <li>
                                    <a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- end: Pagination -->

                    </div>
                    <!-- end: post content -->

                    <!-- Sidebar-->
                    <!-- Sidebar-->
                    <div class="sidebar col-md-3">
                        <div class="pinOnScroll">
                            <!--widget newsletter-->
                            <!-- <div class="widget  widget-newsletter">
                            <form id="widget-search-form-sidebar" action="search-results-page.html" method="get" class="form-inline">
                                <div class="input-group">
                                    <input type="text" aria-required="true" name="q" class="form-control widget-search-form" placeholder="Search for pages..."> <span class="input-group-btn">
				                  <button type="submit" id="widget-widget-search-form-button" class="btn btn-default"><i class="fa fa-search"></i></button>
				                  </span> </div>
                            </form>
                                 
                            </div> -->
                            <!--end: widget newsletter-->

                            <!--Services-->
                            <div class="widget clearfix widget-categories">
                                <h4 class="widget-title">{{ i18n "services" }}</h4>
                                <ul class="list list-arrow-icons">
                                    {{ range where .Site.RegularPages "Type" "services"}}
                                    <li><a title="{{.Params.resume.title}}" href="{{.Permalink}}">{{.Params.resume.title}}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                            <!--End: Services-->

                            <!--Archive-->
                            <!-- <div class="widget clearfix widget-archive">
                                <h4 class="widget-title">Archive</h4>
                                <ul class="list list-lines">
                                    <li>Jun 2015 </li>
                                    <li>May 2015 </li>
                                    <li>Apr 2015 </li>
                                    <li>Mar 2015 </li>
                                </ul>
                            </div> -->
                            <!--End: Archive-->
                        </div>
                    </div>
                    <!-- end: Sidebar-->

                </div>
            </div>
        </section>
        <!-- end: Content -->        

</main>
{{ end }}