<ul class="dropdown-menu">
                        <li class="mega-menu-content">
                            <div class="row">
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Grids</li>
                                        <li> <a href="portfolio-2.html">Two Columns</a> </li>
                                        <li> <a href="portfolio-3.html">Three Columns</a> </li>
                                        <li> <a href="portfolio-4.html">Four Columns</a> </li>
                                        <li> <a href="portfolio-5.html">Five Columns</a> </li>
                                        <li> <a href="portfolio-6.html">Six Columns</a> </li>
                                        <li> <a href="portfolio-sidebar.html">Sidebar version</a> </li>
                                        <li> <a href="portfolio-wide-3.html">Wide version</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Masonry</li>
                                        <li> <a href="portfolio-masonry-2.html">Two Columns</a> </li>
                                        <li> <a href="portfolio-masonry-3.html">Three Columns<span class="label label-danger">HOT</span></a> </li>
                                        <li> <a href="portfolio-masonry-4.html">Four Columns</a> </li>
                                        <li> <a href="portfolio-masonry-5.html">Five Columns</a> </li>
                                        <li> <a href="portfolio-masonry-6.html">Six Columns</a> </li>
                                        <li> <a href="portfolio-masonry-sidebar.html">Sidebar version</a> </li>
                                        <li> <a href="portfolio-masonry-wide-3.html">Wide version</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Styles</li>
                                        <li> <a href="portfolio-filter-styles.html">Filter Styles</a> </li>
                                        <li> <a href="portfolio-load-more.html">Load more</a> </li>
                                        <li> <a href="portfolio-load-more-sidebar.html">Load more - Sidebar</a> </li>
                                        <li> <a href="portfolio-infinite-scroll.html">Infinity Scroll</a> </li>
                                        <li> <a href="portfolio-ajax.html">Portfolio Ajax</a> </li>
                                        <li> <a href="portfolio-gallery-modal.html">Gallery Modal</a> </li>
                                        <li> <a href="portfolio-video-modal.html">Video Modal</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Layouts</li>
                                        <li> <a href="portfolio-sidebar-left.html">Left Sidebar</a> </li>
                                        <li> <a href="portfolio-sidebar-right.html">Right Sidebar</a> </li>
                                        <li> <a href="portfolio-sidebar-both.html">Both Sidebars</a> </li>
                                        <li> <a href="portfolio-slider-3.html">Slider Default</a> </li>
                                        <li> <a href="portfolio-no-page-title.html">No Page Title</a> </li>
                                        <li> <a href="portfolio-no-page-title-sidebar.html">No Page Title - Sidebar</a> </li>
                                        <li> <a href="portfolio-hover-styles.html">Hover Styles</a> </li>

                                    </ul>
                                </div>
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Single Project</li>
                                        <li> <a href="portfolio-page-grid-gallery.html">Grid Gallery</a> </li>
                                        <li> <a href="portfolio-page-particles.html">Particles Wide Project</a> </li>
                                        <li> <a href="portfolio-page-floating-sidebar.html">Floating Sidebar</a> </li>
                                        <li> <a href="portfolio-page-slider.html">Slider version</a> </li>
                                        <li> <a href="portfolio-page-background-image.html">Fullscreen image</a> </li>
                                        <li> <a href="portfolio-page-background-video.html">Fullscreen Video</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-12 m-t-40 m-b-10">
                                    <div class="visible-lg visible-md">
                                        <div class="col-md-9 m-t-10 no-padding">
                                            <div class="text-center center">
                                                <div class="heading-creative"><strong>20+</strong> Amazing Hover Styles</div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="portfolio-hover-styles.html" class="btn m-l-20 btn-light btn-shadow btn-light-hover btn-light-hover">View All Hover Styles</a>
                                        </div>
                                    </div>

                                    <ul class="hidden-lg hidden-md">
                                        <li> <a href="portfolio-hover-styles.html">20+ Amazing Hover Styles</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>