<ul class="dropdown-menu" style="background-image: url('images/shortcode-megamenu-bg.png');">
    <li class="mega-menu-content">
        <div class="row">
            <div class="col-md-2">
                <ul>
                    <li>
                        <a href="shortcode-according.html"> <i class="fa fa-list-ul"></i>Accordions</a>
                    </li>
                    <li>
                        <a href="shortcode-alerts.html"> <i class="fa fa-exclamation-circle"></i>Alerts</a>
                    </li>
                    <li>
                        <a href="shortcode-animations.html"> <i class="fa fa-magic"></i>Animations</a>
                    </li>
                    <li>
                        <a href="shortcode-audio-video.html"> <i class="fa fa-play-circle"></i> Audio & Video</a>
                    </li>
                    <li>
                        <a href="shortcode-blockquotes.html"> <i class="fa fa-quote-right"></i>Blockquotes</a>
                    </li>
                    <li>
                        <a href="shortcode-breadcrumbs.html"> <i class="fa fa-angle-double-right"></i>Breadcrumbs</a>
                    </li>
                    <li>
                        <a href="shortcode-buttons.html"> <i class="fa fa-external-link"></i>Buttons<span class="label label-default">NEW</span></a>
                    </li>
                    <li>
                        <a href="shortcode-client-logo.html"> <i class="fa fa-diamond"></i>Clients logos</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li>
                        <a href="shortcode-calltoaction.html"> <i class="fa fa-plus-square"></i>Call to action</a>
                    </li>
                    <li>
                        <a href="shortcode-carousel.html"> <i class="fa fa-exchange"></i>Carousel Sliders</a>
                    </li>

                    <li>
                        <a href="shortcode-code.html"> <i class="fa fa-code"></i>Code</a>
                    </li>
                    <li>
                        <a href="shortcode-countdown-timer.html"> <i class="fa fa-clock-o"></i>Countdown Timers</a>
                    </li>
                    <li>
                        <a href="shortcode-counters.html"> <i class="fa fa-sort-numeric-desc"></i>Counter Numbers</a>
                    </li>
                    <li>
                        <a href="shortcode-dropcat-highlight.html"> <i class="fa fa-bold"></i>Dropcat & Highlight</a>
                    </li>
                    <li>
                        <a href="shortcode-team-members.html"> <i class="fa fa-users"></i>Team members</a>
                    </li>
                    <li>
                        <a href="shortcode-forms.html"> <i class="fa fa-align-justify"></i>Forms</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li>
                        <a href="shortcode-grid.html"> <i class="fa fa-th"></i>Grid System</a>
                    </li>
                    <li>
                        <a href="shortcode-icon-boxes.html"> <i class="fa fa-bullseye"></i>Icon Boxes</a>
                    </li>
                    <li>
                        <a href="shortcode-icon-lists.html"> <i class="fa fa-flag"></i>Icon Lists</a>
                    </li>
                    <li>
                        <a href="shortcode-images.html"> <i class="fa fa-photo"></i>Images</a>
                    </li>
                    <li>
                        <a href="shortcode-labels-badgets.html"> <i class="fa fa-check-square"></i>Labels and Badges</a>
                    </li>
                    <li>
                        <a href="shortcode-lightbox.html"> <i class="fa fa-arrows-alt"></i>Lightbox</a>
                    </li>
                    <li>
                        <a href="shortcode-lists.html"> <i class="fa fa-th-list"></i>Lists & Bullet lists</a>
                    </li>
                    <li>
                        <a href="shortcode-maps.html"> <i class="fa fa-compass"></i>Maps</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li>
                        <a href="shortcode-modal.html"> <i class="fa fa-search-plus"></i>Modal</a>
                    </li>
                    <li>
                        <a href="shortcode-modal-strip-top.html"> <i class="fa fa-flash"></i>Modal Strip<span class="label label-danger">NEW</span></a>
                    </li>
                    <li>
                        <a href="shortcode-navs.html"> <i class="fa fa-bars"></i>Navbar & Navs</a>
                    </li>
                    <li>
                        <a href="shortcode-paginations.html"> <i class="fa fa-arrow-circle-right"></i>Pagination & Pager</a>
                    </li>
                    <li>
                        <a href="shortcode-panels.html"> <i class="fa fa-list-alt"></i>Panels</a>
                    </li>
                    <li> <a href="shortcode-pie-chart.html"><i class="fa fa-pie-chart"></i>Pie charts</a> </li>
                    <li> <a href="shortcode-popover-tooltip.html"><i class="fa fa-lightbulb-o"></i>Popover & tooltips</a> </li>
                    <li> <a href="shortcode-pricing-table.html"><i class="fa fa-dollar"></i>Pricing tables</a> </li>
                    <li>
                        <a href="shortcode-progress-bar.html"> <i class="fa fa-align-left"></i>Progress bars</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li>
                        <a href="shortcode-parallax.html"> <i class="fa fa-gift"></i>Parallax</a>
                    </li>
                    <li>
                        <a href="shortcode-responsive-utilities.html"> <i class="fa fa-laptop"></i>Responsive utilities</a>
                    </li>
                    <li>
                        <a href="shortcode-sections.html"> <i class="fa fa-bookmark"></i>Sections</a>
                    </li>
                    <li>
                        <a href="shortcode-separators.html"> <i class="fa fa-minus"></i>Separators</a>
                    </li>
                    <li>
                        <a href="shortcode-smooth-scrolling.html"> <i class="fa fa-anchor"></i>Smooth Scrolling</a>
                    </li>
                    <li>
                        <a href="shortcode-social-icons.html"> <i class="fa fa-facebook-official"></i>Social Icons</a>
                    </li>
                    <li>
                        <a href="shortcode-textbox.html"> <i class="fa fa-star"></i>Text Boxes<span class="label label-danger">NEW</span></a>
                    </li>
                    <li>
                        <a href="shortcode-tables.html"> <i class="fa fa-table"></i>Tables</a>
                    </li>
                    <li>
                        <a href="shortcode-tabs.html"> <i class="fa fa-indent"></i>Tabs</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li>
                        <a href="shortcode-testimonial.html"> <i class="fa fa-question-circle"></i>Testimonials<span class="label label-danger">NEW</span></a>
                    </li>
                    
                    <li>
                        <a href="shortcode-toggles.html"> <i class="fa fa-toggle-on"></i>Toggles</a>
                    </li>
                    <li>
                        <a href="shortcode-typography.html"> <i class="fa fa-font"></i>Typography</a>
                    </li><li>
                        <a href="shortcode-text-rotator.html"> <i class="fa fa-random"></i>Text Rotator<span class="label label-default">NEW</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>