<ul class="dropdown-menu">
                        <li class="mega-menu-content">
                            <div class="row">
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Masonry</li>
                                        <li> <a href="blog-masonry-2.html">Two Columns</a> </li>
                                        <li> <a href="blog-masonry-3.html">Three Columns<span class="label label-danger">HOT</span></a> </li>
                                        <li> <a href="blog-masonry-4.html">Four Columns</a> </li>
                                        <li> <a href="blog-masonry-sidebar.html">Sidebar version</a> </li>
                                        <li> <a href="blog-masonry-no-page-title.html">No page title</a> </li>
                                        <li> <a href="blog-masonry-wide.html">Wide version</a> </li>
                                        <li> <a href="blog-masonry-load-more.html">Load More</a> </li>
                                        <li> <a href="blog-masonry-infinite-scroll.html">Infinite Scroll</a> </li>
                                        <li> <a href="blog-masonry-filter.html">Filter Categories</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Grids Layout</li>
                                        <li> <a href="blog-1.html">One Column</a> </li>
                                        <li> <a href="blog-2.html">Two Columns</a> </li>
                                        <li> <a href="blog-3.html">Three Columns</a> </li>
                                        <li> <a href="blog-4.html">Four Columns</a> </li>
                                        <li> <a href="blog-no-page-title.html">No page title</a> </li>
                                        <li> <a href="blog-wide.html">Wide version</a> </li>
                                        <li> <a href="blog-load-more.html">Load More</a> </li>
                                        <li> <a href="blog-infinite-scroll.html">Infinite Scroll</a> </li>
                                        <li> <a href="blog-filter.html">Filter Categories</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Left Image</li>
                                        <li> <a href="blog-left-image-sidebar-right.html">Right Sidebar</a> </li>
                                        <li> <a href="blog-left-image-sidebar-left.html">Left Sidebar</a> </li>
                                        <li> <a href="blog-left-image-sidebar-both.html">Both Sidebars</a> </li>
                                        <li> <a href="blog-left-image-no-sidebar.html">No Sidebar</a> </li>
                                        <li> <a href="blog-left-image-no-page-title.html">No page title</a> </li>
                                        <li> <a href="blog-left-image-load-more.html">Load More</a> </li>
                                        <li> <a href="blog-left-image-infinite-scroll.html">Infinite Scroll</a> </li>
                                        <li> <a href="blog-left-image-author-info.html">Author Info</a> </li>
                                        <li> <a href="blog-left-image-filter.html">Filter Categories</a> </li>
                                    </ul>
                                </div>
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Layouts</li>
                                        <li> <a href="blog-sidebar-left.html">Left Sidebar</a> </li>
                                        <li> <a href="blog-sidebar-right.html">Right Sidebar</a> </li>
                                        <li> <a href="blog-sidebar-both.html">Both Sidebars</a> </li>
                                        <li> <a href="blog-fullwidth.html">Fullwidth</a> </li>
                                        <li class="mega-menu-title">Post Item Styles</li>
                                        <li><a href="blog-style-shadow.html">Shadow</a></li>
                                        <li><a href="blog-style-textual.html">Textual</a></li>
                                        <li><a href="blog-style-grey-bg.html">Grey Background</a></li>
                                        <li><a href="blog-style-author-info.html">Author Info</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-2-5">
                                    <ul>
                                        <li class="mega-menu-title">Single Post</li>
                                        <li> <a href="blog-single.html">Default</a> </li>
                                        <li> <a href="blog-single-slider.html">Slider</a> </li>
                                        <li> <a href="blog-single-video.html">Video</a> </li>
                                        <li> <a href="blog-single-audio.html">Audio</a> </li>
                                        <li> <a href="blog-single-creative.html">Creative</a> </li>
                                        <li class="mega-menu-title">Comments<span class="label label-danger">NEW</span></li>
                                        <li> <a href="blog-comments.html#comments">Default Comments</a> </li>
                                        <li> <a href="blog-comments-disqus.html#comments">Disqus Comments</a> </li>
                                        <li> <a href="blog-comments-facebook.html#comments">Facebook Comments</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>