<!--Navigation-->
<div id="mainMenu" class="light">
    <div class="container">
        <nav>
            <ul>
                <li class="dropdown"> <a href="/catalogue">Catalogue</a></li>
                <li class="dropdown"> <a href="/a-propos">À propos</a></li>
                <li class="dropdown"> <a href="#">Services</a>
                    {{- partial "header/dropdown1.html" . -}}
                </li>
                <li class="dropdown"> <a href="#">Examen de la vue</a></li>
                <!-- <li class="dropdown mega-menu-item"> <a href="#">Promotions</a></li>  -->
                <li class="dropdown mega-menu-item"> <a href="/nous-rejoindre">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--end: Navigation-->