<!--Navigation-->
<div id="mainMenu" class="light">
    <div class="container">
        <nav>
            <ul>
                <li class="visible-xs visible-sm"><a href="{{.Site.BaseURL}}">Accueil</a></li>
                <li><a href="{{.Site.BaseURL}}catalogue">Catalogue</a></li>
                <li><a href="{{.Site.BaseURL}}a-propos">À propos</a></li>
                <li class="dropdown"> <a href="{{.Site.BaseURL}}services">Services</a>
                    {{- partial "header/dropdown1.html" . -}}
                </li>
                <li> <a href="{{.Site.BaseURL}}services/examen-de-la-vue">Examen de la vue</a></li>
                <li> <a href="{{.Site.BaseURL}}promotions">Promotions</a></li> 
                <li> <a href="{{.Site.BaseURL}}nous-rejoindre">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--end: Navigation-->