<!-- Footer -->
  <footer id="footer" class="footer-light">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4"> 
            <!-- Footer widget area 1 -->
            <div class="widget  widget-contact-us" style="background-image: url('/images/world-map-dark.png'); background-position: 50% 20px; background-repeat: no-repeat">
              <h4>L'Aire visuelle</h4>
              <ul class="list-icon">
                <li><i class="fa fa-map-marker"></i>380 boul. Dagenais Est, suite 102 <br>
                  Laval (Québec), Coin René-Laennec</li>
                <li><i class="fa fa-phone"></i>(450) 669-1686 </li>
                <li><i class="fa fa-envelope"></i><a href="mailto:info@lairevisuelle.com">info@lairevisuelle.com</a></li>
                <li> <br>
                  <i class="fa fa-clock-o"></i>Lundi - Jeudi: <strong>08:00 - 20:00</strong> <br>
                  Vendredi <strong>9:00 - 18:00</strong><br>
                  Samedi: <strong>10:00 - 16:00</strong><br>
                  Dimanche: <strong>Fermé</strong> </li>
              </ul>
              <!-- Social icons -->
              <div class="social-icons social-icons-border float-left m-t-20">
                <ul>
                  {{with .Site.Data.settings.socials.facebookurl}}
									<li class="social-facebook"><a href="{{.}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.twitterurl}}
									<li class="social-twitter"><a href="{{.}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.instagramurl}}
									<li class="social-instagram"><a href="{{.}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.googleplusurl}}
									<li class="social-google"><a href="{{.}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.pinteresturl}}
									<li class="social-pinterest"><a href="{{.}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.vimeourl}}
									<li class="social-vimeo"><a href="{{.}}" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.linkedinurl}}
									<li class="social-linkedin"><a href="{{.}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.dribbleurl}}
									<li class="social-dribbble"><a href="{{.}}" target="_blank"><i class="fa fa-dribbble"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.youtubeurl}}
									<li class="social-youtube"><a href="{{.}}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.rssurl}}
									<li class="social-rss"><a href="{{.}}" target="_blank"><i class="fa fa-rss"></i></a></li>
									{{ end }}
                </ul>
              </div>
              <!-- end: Social icons --> 
            </div>
            <!-- end: Footer widget area 1 --> 
          </div>
          <div class="col-md-2"> 
            <!-- Footer widget area 2 -->
            <div class="widget">
              <h4>Liens rapides</h4>
              <ul class="list-icon list-icon-arrow">
                <li><a href="/">Accueil</a></li>
                <li><a href="/catalogue">Catalogue</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/promotions">Promotions</a></li>
                <li><a href="/a-propos">À propos</a></li>
                <li><a href="/nous-rejoindre">Contact</a></li>
              </ul>
            </div>
            <!-- end: Footer widget area 2 --> 
          </div>
          <div class="col-md-3 hidden-xs"> 
            <!-- Footer widget area 3 -->
            <div class="widget">
              <h4>Nos articles les plus récents</h4>
              <ul class="list-icon list-icon-arrow">
              {{ range where .Site.RegularPages "Type" "articles"}}
                <li><a href="{{.Permalink}}">{{.Title}}</a></li>
              {{ end }}
              </ul>
            </div>
            <!-- end: Footer widget area 3 --> 
            <!-- Footer widget area 3 -->
            <div class="widget">
              <h4>Découvrez nos partenaires </h4>
              <ul class="list-icon list-icon-arrow">
                <li><a href="https://www.visionavenue.ca/fr/" target="_blank">Vision Avenue</a></li>
              </ul>
            </div>
            <!-- end: Footer widget area 3 --> 
          </div>
          <div class="col-md-3"> 
            <!-- Footer widget area 4 -->
            <div class="widget" data-username="ardianmusliu" data-limit="2">
              <h4>Promotions</h4>
              <p>50% sur les montures sélectionnées à l'achat d'une paire de verres en décembre et en janvier</p>
              <img src="/img/quart/opticien-1.jpg" alt="Rabais" style="max-width: 100%;">
            </div>
            <!-- end: Footer widget area 4 --> 
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-content">
      <div class="container">
        <div class="copyright-text text-center">&copy; 2017. Tous droits réservés. Conçu avec <i class="fa fa-heart" style="margin: 0 5px; color:#00AE41"></i> par <a href="http://www.akiamarketing.ca" target="_blank">Akia Marketing</a></div>
      </div>
    </div>
  </footer>
  <!-- end: Footer -->
