<!-- Footer -->
  <footer id="footer" class="footer-light">
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4"> 
            <!-- Footer widget area 1 -->
            <div class="widget  widget-contact-us" style="background-image: url('/images/world-map-dark.png'); background-position: 50% 20px; background-repeat: no-repeat">
              <h4>L'Aire Visuelle</h4>
              <ul class="list-icon">
                <li><i class="fa fa-map-marker"></i>{{.Site.Data.settings.address.road}} <br>
                  {{.Site.Data.settings.address.city}} ({{.Site.Data.settings.address.province}}), {{ i18n "corner" }}</li>
                <li><i class="fa fa-phone"></i><a href="tel:{{.Site.Data.settings.mphone}}" class="visible-xs">{{.Site.Data.settings.phone}}</a><span class="hidden-xs" style="color:#494949!important">{{.Site.Data.settings.phone}}</span></li>
                <li><i class="fa fa-envelope"></i><a href="mailto:{{.Site.Data.settings.email}}">{{.Site.Data.settings.email}}</a></li>
                <li> <br>
                  <i class="fa fa-clock-o"></i>
                  {{- if eq .Lang "fr" -}}
                    {{- range .Site.Data.settings.ouverture.fr -}}
                      {{.jour}}: <strong>{{.heures}}</strong> <br>
                    {{- end -}}
                  {{- else if eq .Lang "en" -}}
                    {{- range .Site.Data.settings.ouverture.en -}}
                      {{.jour}}: <strong>{{.heures}}</strong> <br>
                    {{- end -}}
                  {{- end -}}
                </li>
              </ul>
              <!-- Social icons -->
              <div class="social-icons social-icons-border float-left m-t-20">
                <ul>
                  {{with .Site.Data.settings.socials.facebookurl}}
									<li class="social-facebook"><a href="{{.}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.twitterurl}}
									<li class="social-twitter"><a href="{{.}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.instagramurl}}
									<li class="social-instagram"><a href="{{.}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.googleplusurl}}
									<li class="social-google"><a href="{{.}}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.pinteresturl}}
									<li class="social-pinterest"><a href="{{.}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.vimeourl}}
									<li class="social-vimeo"><a href="{{.}}" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.linkedinurl}}
									<li class="social-linkedin"><a href="{{.}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.dribbleurl}}
									<li class="social-dribbble"><a href="{{.}}" target="_blank"><i class="fa fa-dribbble"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.youtubeurl}}
									<li class="social-youtube"><a href="{{.}}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
									{{ end }}
									{{with .Site.Data.settings.socials.rssurl}}
									<li class="social-rss"><a href="{{.}}" target="_blank"><i class="fa fa-rss"></i></a></li>
									{{ end }}
                </ul>
              </div>
              <!-- end: Social icons --> 
            </div>
            <!-- end: Footer widget area 1 --> 
          </div>
          <div class="col-md-2"> 
            <!-- Footer widget area 2 -->
            <div class="widget">
              <h4>{{ i18n "sitemap" }}</h4>
              <ul class="list-icon list-icon-arrow">
                <li><a href='{{ $.Scratch.Get "homePage" }}'>{{ i18n "home" }}</a></li>
                <li><a href='{{ $.Scratch.Get "catalogPage" }}'>{{ i18n "catalog" }}</a></li>
                <li><a href='{{ $.Scratch.Get "servicesPage" }}'>{{ i18n "services" }}</a></li>
                <li><a href='{{ $.Scratch.Get "promotionsPage" }}'>Promotions</a></li>
                <li><a href='{{ $.Scratch.Get "aboutPage" }}'>{{ i18n "about" }}</a></li>
                <li><a href='{{ $.Scratch.Get "contactPage" }}'>{{ i18n "contact" }}</a></li>
              </ul>
            </div>
            <!-- end: Footer widget area 2 --> 
          </div>
          <div class="col-md-3 hidden-xs"> 
            <!-- Footer widget area 3 -->
            <div class="widget">
              <h4>{{ i18n "recent_articles_title" }}</h4>
              <ul class="list-icon list-icon-arrow">
              {{ range where .Site.RegularPages "Type" "articles"}}
                <li><a href="{{.Permalink}}">{{.Title}}</a></li>
              {{ end }}
              </ul>
            </div>
            <!-- end: Footer widget area 3 --> 
            <!-- Footer widget area 3 -->
            <div class="widget">
              <h4>{{ i18n "discover_partners" }}</h4>
              <ul class="list-icon list-icon-arrow">
                <li><a href='{{ i18n "visionavenue" }}' target="_blank">Vision Avenue</a></li>
              </ul>
            </div>
            <!-- end: Footer widget area 3 --> 
          </div>
          <div class="col-md-3"> 
            <!-- Footer widget area 4 -->
            {{ if eq .Lang "fr" }}
            {{ $footerLinkFr := .Site.Data.promo.footer.fr.link }}
            <a href='{{ $.Scratch.Get $footerLinkFr }}'>
              <div class="widget" data-username="ardianmusliu" data-limit="2">
                <h4>{{.Site.Data.promo.footer.fr.title}}</h4>
                <p>{{.Site.Data.promo.footer.fr.description}}</p>
                <img src="/quart{{.Site.Data.promo.footer.image}}" alt="Rabais" style="max-width: 100%;">
              </div>
            </a>
            {{ else if eq .Lang "en" }}
            {{ $footerLinkEn := .Site.Data.promo.footer.en.link }}
            <a href='{{ $.Scratch.Get $footerLinkEn }}'>
              <div class="widget" data-username="ardianmusliu" data-limit="2">
                <h4>{{.Site.Data.promo.footer.en.title}}</h4>
                <p>{{.Site.Data.promo.footer.en.description}}</p>
                <img src="/quart{{.Site.Data.promo.footer.image}}" alt="Rabais" style="max-width: 100%;">
              </div>
            </a>
            {{ end }}
            <!-- end: Footer widget area 4 --> 
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-content">
      <div class="container">
        <div class="copyright-text text-center">&copy;2018. {{ i18n "copyright" | markdownify }}</div>
      </div>
    </div>
  </footer>
  <!-- end: Footer -->

