{{ define "main" }}
<main class="main" id="{{ .Type }}-indiv">
	
        <!-- Page title -->
        <section id="page-title" class="background-image background-overlay-dark" style="background-image:url('{{.Params.image}}');">
            <div class="container">

                <div class="page-title">
                    <div data-animation="fadeIn" class="text-light">
                        <h1 data-animation="fadeInUp" data-animation-delay="1000">{{.Params.titre}}</h1></div>
                </div>
            </div>
        </section>
        <!-- end: Page title -->

         <!-- Page Content -->
        <section id="page-content" class="sidebar-both">
            <div class="container">
                <div class="row">
                    
                    <!-- content -->
                    <div class="content col-md-9 col-md-push-3">
                        <!-- Blog -->
                        <div id="blog" class="single-post">
                            <!-- Post single item-->
                            <div class="post-item">
                                <div class="post-item-wrap">

                                    <div class="post-item-description">
                                        {{.Content}}

                                        {{ partial "site/promocta.html" . }}

										<h3 style="margin-top: 20px;">FAQ:</h3>
                                        
										<div class="accordion">
                                        {{ range .Params.faq }}
											<div class="ac-item">
												<h5 class="ac-title">{{.question}}</h5>
												<div class="ac-content">
													{{.reponse | markdownify}}
						                        </div>
											</div>
											<!-- // item  -->
                                        {{ end }}									

										</div>
										<!--END: Accordion default-->

                                    </div>
                                    <!-- // item desc  -->



                                </div>
                            </div>
                            <!-- end: Post single item-->
                        </div>


                        <!-- Gallery -->
                        <!-- <div class="grid-layout grid-3-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                            <div class="grid-item">
                             
                                    <a class="image-hover-zoom" href="#" data-lightbox="gallery-item"><img src="/img/new/service1.jpg"></a>
                              
                            </div>
                            <div class="grid-item">
                                <a class="image-hover-zoom" href="images/gallery/2.jpg" data-lightbox="gallery-item"><img src="/img/new/service1.jpg"></a>
                            </div>
                            <div class="grid-item">
                                <a class="image-hover-zoom" href="images/gallery/3.jpg" data-lightbox="gallery-item"><img src="/img/new/service1.jpg"></a>
                            </div>
                            <div class="grid-item">
                                <a class="image-hover-zoom" href="images/gallery/4.jpg" data-lightbox="gallery-item"><img src="/img/new/service1.jpg"></a>
                            </div>
                            <div class="grid-item">
                                <a class="image-hover-zoom" href="images/gallery/5.jpg" data-lightbox="gallery-item"><img src="/img/new/service1.jpg"></a>
                            </div>
                            <div class="grid-item">
                                <a class="image-hover-zoom" href="images/gallery/6.jpg" data-lightbox="gallery-item"><img src="/img/new/service1.jpg"></a>
                            </div>
                        </div> -->
                        <!-- end: Gallery -->                        

                    </div>
                    <!-- end: content -->

                    <!-- Sidebar-->
                    <div class="sidebar sidebar-modern col-md-3 col-md-pull-9">

                        <!-- <div class="widget  widget-newsletter">
                            <form id="widget-search-form-sidebar" action="search-results-page.html" method="get" class="form-inline">
                                <div class="input-group">
                                    <input type="text" aria-required="true" name="q" class="form-control widget-search-form" placeholder="Search for pages..."> <span class="input-group-btn">
                                  <button type="submit" id="widget-widget-search-form-button" class="btn btn-default"><i class="fa fa-search"></i></button>
                                  </span> </div>
                            </form>
                        </div> -->
                        <!--end: widget newsletter-->


                            <!--Services-->
                            <div class="widget clearfix widget-categories">
                                <h4 class="widget-title">{{ i18n "services" }}</h4>
                                <ul class="list list-arrow-icons">
                                    {{ $id := .Params.identifiant }}
                                    {{ range where .Site.RegularPages "Type" "services"}}
                                    {{ if eq .Params.identifiant $id }}
                                    {{ else }}
                                    <li><a title="{{.Params.resume.title}}" href="{{.Permalink}}">{{.Params.resume.title}}</a></li>
                                    {{ end }}
                                    {{ end }}
                                </ul>
                            </div>
                            <!--End: Services-->

                            <div class="widget ">
                                <h4 class="widget-title">{{ i18n "recent_articles" }}</h4>
                                <div class="post-thumbnail-list">
                                    {{ range where .Site.RegularPages "Type" "articles" }}
                                    <div class="post-thumbnail-entry">
                                        {{ with .Params.image}}
                                        <img alt="" src="{{.}}">
                                        {{ end }}
                                        <div class="post-thumbnail-content">
                                            <a href="{{.Permalink}}">{{.Title}}</a>
                                            <!-- <span class="post-date"><i class="fa fa-clock-o"></i> 6m ago</span>
                                            <span class="post-category"><i class="fa fa-tag"></i> Technology</span> -->
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                            <!--End: Tabs with Posts-->


                        </div>
                    <!-- end: Sidebar-->

                </div>
            </div>
        </section>
        <!-- end: Page Content -->


</main>
{{ end }}